ErrorDocument 404 http://hangman.patricklabes.com.au/index.html
ErrorDocument 500 http://hangman.patricklabes.com.au/index.html

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]